.Group12103245 {
  width: 125px;
  height: 125px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(26, 165, 96, 1);
}
.image {
  top: 24px;
  left: 27px;
  width: 78px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
